/* CSS BOX MODEL - slide 16 */
.boxmodel {
  padding: 10px 20px; /* top/bottom & right/left */
  margin:  8px 2px;
  border: 5px solid rgba(0,0,0,0);
}
/* ======================== */










/* POSITION OF ELEMENTS - slide 19 */
.pos_relative {
  position: relative;
  left: 20vw; /* vw: relative to viewport width */
}

.pos_parent {
  position: relative; /* simply position the element */
  height: 300px;
  width: 50vw;
}
.pos_child {
  position: absolute; /* relative to its parent */
  top: 50%;  /* relative to its parent */
  left: 40%; /* relative to its parent */
}



.pos_sticky {
  position: sticky;
  top: 0; /* until scrolled, positioned at the top of the page*/
} /* try w/ h1 */

.pos_fixed {
  position: fixed;
  bottom: 0; /* always sticks at the bottom */
}
/* =============================== */






/* FLOATING and OVERLAPPING ELEMENT - Slide 23 */
.floating {
  float: right;
}

.overlap {
  position: absolute; /* out of the normal flow */
  z-index: -1;
}
/* =========================== */

/* POSITION / APPLICATION DROPDOWN - slide 25 */
.dropdown {
  position: relative;
  left: 20vw;
}
.dropdown_content {
  display: none;
  position: absolute; /* to its _positioned_ parent */
  z-index: 5;
  min-width: 30vw;
}
.dropdown:hover .dropdown_content {
  display: block;
}
/* ========================================== */





body {
  background: #dddddd;
  height: 100vh; /* vh: relative to viewport height */
  margin: 10px;
  font-family: Helvetica neue, roboto;
  color: #424242;
}

h1,h2,h3{
  color: #808080;
  font-weight: 300;
  padding: 0px 5px; /* top/bottom & right/left */
}

h1 { text-align: center; }

h2 {
  border: 1px solid #4CAF50;
  border-left: 5px solid #4CAF50;
}

article { margin-bottom: 30px; }

footer {
  font-size: 0.8em;
  margin: 20px 0px;
  font-weight: 300; /* top/bottom & right/left */
}

nav h3 {
  margin:0;
}

nav ul {
  list-style: none;
  max-width: 30%;
  padding: 0; /* remove list indent */
  margin:0;   /* remove all margin  (for the dropdown) */
}

nav li {
  height: 30px;
  line-height: 30px; /* vertical align text */
  background-color: #4CAF50; /* green */
  padding-left: 5px;
}

nav li:hover {
  background-color: #83c985; /* lighter green */
}

nav li a {
  text-align: center;
  display: inline-block;
  width: 100%;
}

nav a:link,a:active,a:visited {
  color: white;
  text-decoration: none;
  font-weight: 300;
}

img { max-width: 40%; }
img#image-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#yellowBox,#aubergineBox {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

#yellowBox { background-color: #DC9E20; }
#aubergineBox{ background-color: #46313C; }
